<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Acción</th>
			</tr>
		</thead>

		<tbody>
			<% registros.forEach(function(registro){  %>
			<tr>
				<td><%= registro.id %></td>
				<td><%= registro.nombre %></td>
				<td><%= registro.apellido %></td>
				<td>
					<a href="/editar/<%= registro.id %>" class="btn btn-success">Editar</a>
					<a href="/eliminar/<%= registro.id %>" class="btn btn-danger">Eliminar</a></td>
			</tr>
			<% }) %>
		</tbody>

	</table>

	<a href="/frmInsertar" class="btn btn-success">INSERTAR</a>


</body>
</html>