<div class="container">
	<div class="row">
		<div class="col-sm-6">
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nombre Producto</th>
						<th>Acción</th>
					</tr>
				</thead>
				<tbody>
					<% reg.forEach(function(registro){ %>
					<tr>
						<td><%= registro.idProducto %></td>
						<td><%= registro.nombreProducto %></td>
						<td>
							<a href="/productos/formEditar/<%= registro.idProducto %>" class="btn btn-info">Editar</a>&nbsp;<a href="/productos/eliminar/<%= registro.idProducto %>" class="btn btn-danger">Eliminar</a>
						</td>
					</tr>
					<% }) %>
				</tbody>

			</table>

			<nav>
				<ul class="pagination">
				<% for(var i=1; i<=paginas; i++) { %>
					<li class="<% if(i==paginaActual){ %><%= "active" %><% } %>"><a href="/productos/<%= i %>"><%= i %></a></li>
				<% } %>
				</ul>
			</nav>

			<a href="/productos/formAgregar" class="btn btn-success btn-block btn-lg">Agregar</a>

		</div>
	</div>
</div>